@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@font-face{
    font-family: "SF-Pro-Heavy";
    src: url(FontsFree-Net-SFProText-Heavy-1.ttf);
   }
   @font-face{
    font-family: "SF-Pro-Light";
    src: url(FontsFree-Net-SFProText-Light-1.ttf);
   }
   @font-face {
    font-family: "SF-Pro-Medium";
    src: url(FontsFree-Net-SFProText-Medium-1.ttf);
   }
   @font-face {
    font-family: "SF-Pro-Regular";
    src: url(FontsFree-Net-SFProText-Regular-1.ttf);
   }
   @font-face {
    font-family: "SF-Pro-Bold";
    src: url(FontsFree-Net-SFProText-Bold-1.ttf);
   }
   * {
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: all 0.5s ease-in-out;
   }
body{
   
    overflow-x: hidden;
    padding: 50px 20px 20px 20px ;
    background-color: #e1eaee;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");   
}
#logo {
    display: flex;
}
#logo h2 {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    color: #38023B;
}
.logo {
    width: 40px;
    position: relative;
    bottom: 60px;
    margin-bottom: -120px;
}
#greeting {
    text-transform: capitalize;
    font-family: "SF-Pro-Heavy", "sans-serif";
    color: #112A46;
}
.quote {
    font-family: "SF-Pro-Light";
    margin-top: -20px;
    color: #112a46b4;
}
.container {
     display: flex;
    z-index: -1;
     justify-content: space-around;
}
.budget-div {
    border: 1px solid #00D157;
    border-radius: 10px;
    width: 300px;
    height: 140px !important;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0 0 0;
background-color: #e1eaee;
}
#expense-text{
    color: #f32d1f;
}
#budget-text{
    color: #00D157;
}
.budget-div label {
    font-size: 20px;
    font-family: "SF-Pro-Regular";
    color: #112A46;
}
#budget {
    height: 30px;
    width: 80% !important;
  margin: 10px 0 10px 0;
  border: 2px solid #00D157;
  padding: 0 0 0 10px;
  border-radius: 5px;
  font-family: "SF-Pro-Light";
}
#budget:hover{
    border: 1px solid #00c853;
}
#budget-btn {
    height: 30px;
    width: 100px;
    font-family: "SF-Pro-Bold";
    background-color: #004D20;
    border: none;
    color: #ffffff;
    border-radius: 30px;
    z-index: -1;
}
.expense-div {
    border: 1px solid #f44336;
    width: 300px;
    height: 250px !important;
    margin: 30px auto 0;
    text-align: center;
    border-radius: 10px;
    padding: 20px 0 0 0;

}
.expense-div label {
    font-family: "SF-Pro-Regular";
    font-size: 20px;
    color: #112A46 !important;
}
.expense-div input {
    height: 30px;
    width: 80% !important;
    margin: 10px 0 10px 0;
    font-family: "SF-Pro-Light";
    border: 2px solid #f44336;
    padding: 0 0 0 10px;
    border-radius: 5px;
}
#calculate {
    height: 30px;
    font-family: "SF-Pro-Bold";
    background-color: #821008;
    color: #ffffff;
    border: none;
    border-radius: 30px;
    z-index: -1;
    width: 100px;
}
.info {
    display: flex;
    border: 1px solid #448aff;
    border-right: none;
    border-left: none ;
    width: 550px;
    margin: 10px auto 0 ;
    justify-content: space-around;
    align-items: center;
    font-family: "SF-Pro-Regular";
    background-color: #e1eaee;
}
.info-val {
    color: #112A46;
    text-align: center;
}
.info-val p {
    border: 1px solid #4489ff6e !important;
    padding: 20px;
    font-size: 23px;
    border-radius: 10px;
    width: 180px;
    font-family: "SF-Pro-Heavy";
    transition: all 0.5s ease-in-out !important;
}
#exp-div {
  height: auto;
    padding: 10px;
   width: 90%;
   overflow-wrap: break-word;
   color: #112A46;
}
.expCon {
    border: 0.1px solid #82100870;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px auto 0;
    height: auto !important;
    width: 100%;
    overflow-wrap: break-word;
}
.expCon p {
    font-size: 17px !important;
    text-transform: capitalize;
    font-family: "SF-Pro-Light";
    color: #f44336;
    overflow-wrap: break-word;
}
#modal-box {
  display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgba(230, 1, 1, 0.4);
   }
   #result-sheet {
    height: 200px;
    border-radius: 10px;
    display: flex;
    border: none !important;
    justify-content: center;
    align-items: center;
    text-align: center;
border: 1px solid ;
width: 300px;
color: #112A46;
margin: 25% auto;
background-color: #e1eaee;

font-family: "SF-Pro-Regular";
-webkit-animation:appear 1s ease 0s 1 normal;
-moz-animation:appear 1s ease 0s 1 normal;
-ms-animation:appear 1s ease 0s 1 normal;
animation:appear 1s ease 0s 1 normal;
  }
    
    @-webkit-keyframes appear {
    0%{ opacity: 0; -webkit-transform: scale3d(0.3, 0.3, 0.3); transform: scale3d(0.3, 0.3, 0.3); }
    60%{ opacity: 1; -webkit-transform: scale3d(1,1,1); transform: scale3d(1,1,1); }
    }
    @keyframes appear {
    0%{ opacity: 0; transform: scale3d(0.3, 0.3, 0.3); }
    60%{ opacity: 1; transform: scale3d(1,1,1); }
    }
  .exp-list {
    text-align: center;
    font-family: "SF-Pro-Regular";
    margin: 30px 0 0 0;
    color: #112A46;
  }
  .delete{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: none;
    text-align: center;
    background-color: #F99B94;
  }
  .fi-rr-trash{
    color: #000000;
    font-size: 20px;
  }
  @media (max-width: 920px){
    .container {
        display: block;
   }
   .budget-div {
    width: 450px;
    height: 120px;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0 0 0;
}
.expense-div {
    width: 450px;
}
.info {
    width: 750px;
    margin: 30px auto 0;
    height: 200px;
}
.info-val p {
    width: 240px;
}
  }
  @media (max-width: 813px){
    .info {
        width: 650px;
        margin: 30px auto 0;
        height: 200px;
    }
    .info-val p {
        width: 205px;
    }
  }
  @media (max-width: 704px){
    .info {
        width: 580px;
        margin: 30px auto 0;
        height: 200px;
    }
    .info-val p {
        width: 185px;
    }
  }
  @media (max-width: 628px){
    .info {
        width: 500px;
        margin: 30px auto 0;
        height: 200px;
    }
    .info-val p {
        border: 1px solid;
        padding: 20px;
        font-size: 20px;
        width: 160px;
        transition: all 2.5s ease-in-out;
    }
  }
  @media (max-width: 541px){
    .info {
        width: 450px;
        margin: 30px auto 0 ;
    }
    .info-val p {
        font-size: 16px;
        width: 145px;
    }
    .budget-div{
        width: 400px;
    }
    .expense-div{
        width: 400px;
    }
  }
  @media (max-width: 485px){
    .info {
        width: 400px;
        margin: 30px auto 0 ;
    }
    .info-val p {
        font-size: 15px;
        padding: 30px;
        width: 130px;
    }
    .budget-div{
        width: 400px;
    }
    .expense-div{
        width: 400px;
    }
    .expCon p {
        font-size: 17px;
    }
  }
  @media (max-width: 434px){
    .budget-div{
        width: 95%;
    }
    #result-sheet {
        width: 90%;
    }
    .expense-div{
        width: 95%;
    }
    .info {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 85%;
    }
    .info-val p {
        font-size: 25px;
        width: 220px;
    }
    .expCon p {
        font-size: 20px;
        text-transform: capitalize;
    }
  }
  @media (max-width:312px){
    .info-val p{
        width: 220px;
    }
  }
  @media (max-width: 306px){
    .info-val p {
        font-size: 23px;
        width: 210px;
    }
    .logo {
        width: 30px;
      
        position: relative;
        bottom: 60px;
    transform: scale(1.2);
        margin-bottom: -120px;
    }
    #logo h2 {
        font-size: 11px;
    
    }
  }
  @media (max-width: 291px){
    #budget {
        width: 180px;
    }
    .expense-div input {
        height: 30px;
        width: 180px;
        margin: 10px 0 10px 0;
    }
    .budget-div label{
        font-size: 18px;
    }
    .expense-div label{
        font-size: 18px;
    }
    .info-val p{
        width: 190px;
    }
  }
  @media (max-width: 272px){
    .expense-div input {
        height: 30px;
        width: 160px;
        margin: 10px 0 10px 0;
    }
    #budget {
        width: 160px;
    }
    .info-val p {
        width: 150px;
        font-size: 19px;
    }

  }
  @media (max-width: 245px){
    #budget{
        width: 150px;
    }
    .expense-div input{
        width: 150px;
    }
    .budget-div label{
        font-size: 15px;
    }
    .expense-div label {
        font-size: 15px;
    }
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  .switch input {
    display: none;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(62, 153, 214);
    border-radius: 34px;
    transition: .4s;
  }
  .slider:before {
    content: "";
    position: absolute;
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background: #000;
    border-radius: 50%;
    transition: .4s;
  }
  
  input:checked + .slider {
    background: #fff;
    background: #000;
  }
  input:checked + .slider:before {
    transform: translateX(26px);
    background: #fff;
  }
  /* dark mode*/
  .dark-mode {
    background-color: #112a46;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23714cac' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
 }
  .dark-mode #greeting, .dark-mode .budget-div label, .dark-mode .expense-div label, .dark-mode .info-val, .dark-mode .exp-list {
    color: #e1eaee !important;
  }
  .dark-mode .expCon{
    border: 0.1px solid #f03c2fde ;
  }
  .dark-mode .info {
    border: 1px solid #e1eaeece;
    border-left: none;
    border-right: none;
  }
  .dark-mode .info-val p {
    border: 1px solid #e1eaee70 !important; 
  }
  .dark-mode .quote {
    color: #e1eaeec9;
  }
  .dark-mode input, .dark-mode input::placeholder {
    background: grey;
    color: #ffffff !important;
  }
  .dark-mode #result-sheet, .dark-mode nav {
    background-color: #112a46;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23714cac' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  }
  .dark-mode #warning{
    color: #e1eaee;
  }
 .dark-mode #logo h2 {
    color: #F28F3B;
}
 nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    background-color: #e1eaee;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");   
width: 100%;
top: 0px;
right: 0px;
height: 10vh;
     z-index: 1;
 }
